<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Produtos</h3>
                    <br>
                    <table border="1" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Preço</th>
                                <th>Estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (produto of lista; track produto.id) {
                            <tr>
                                <td>{{produto.id}}</td>
                                <td>{{produto.nome}}</td>
                                <td>{{produto.categoriaNome}}</td>
                                <td>{{produto.preco | currency:'BRL'}}</td>
                                <td>{{produto.estoque}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>